@use "./_variables.scss";
@use "./_auth.scss";
@use "./_dashboard.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #eef2ff, #f8fafc);
    font-family: "Segoe UI", sans-serif;
    color: variables.$text;
}