
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
    background: linear-gradient(135deg, #f0a3ecad, #d86bc0);
}
.login-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #e59e9e;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #9e3fdd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #9900ff;
}

h2{
    color: #741288f1;
}