@use "./variables" as *;
@use "./mixins" as *;

.ranking {
    @include card;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.ranking h2 {
    color: $primary;
    margin-bottom: 1rem;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ranking-card {
    background: #232323;
    padding: 1rem 1.2rem;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .25s;
}

.ranking-card:hover {
    background: #2d2d2d;
    transform: translateX(4px);
}